

<main id="main" class="main">

    <!-- Client List -->
    <div class="col-12">
        <div class="card recent-sales overflow-auto">


            <div class="card-body">
                <h5 class="card-title"> Client Status </h5>
              <div >
                  <div class="row client_list_wrapper animate__animated animate__shakeX " *ngFor="let c of clientImgs" >
                    <div class="col-md-2">
                      <img [src]="convertImg(c.imageData)" class="client_list_img " >
                    </div>

                    <div class="col-md-9 row client_list_status" >
                      <p class="client_list_name"> {{c.client_name}}</p>
                      <p class="mt-2"> <span class="client_country" > {{c.client_country}} </span></p>
                      <p> {{c.client_email}}</p>
                      <p> {{c.client_phone}}</p>

                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div><!-- End Recent Sales -->
</main><!-- End #main -->












