<button><a routerLink="/home">Home</a></button>
<main id="" class="container" style="margin-top: 100px">

    <div class="pagetitle">


    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-5">

                <div class="card">
                    <div style="height: 500px; width: 500px" id="sss">

                        <zxing-scanner (scanSuccess)="onResult($event)"></zxing-scanner>

                    </div>
                </div>

            </div>





            <div class="col-xl-7">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#profile-overview">Overview
                                </button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Employee Information </h5>


                                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                                    <img src="assets/img/profile-img.jpg" id="hero-img" alt="Profile"
                                         class="rounded-circle">
                                    <h2 id="hero-name"> Karim Benzema </h2>


                                </div>


                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Phone Number</div>
                                    <div id="hero-phone" class="col-lg-8 col-md-8">+880 1749 123456</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">National ID No</div>
                                    <div id="hero-nid" class="col-lg-8 col-md-8">9876 654321</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Gender</div>
                                    <div class="col-lg-8 col-md-8">Male</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Date Of Birth</div>
                                    <div class="col-lg-8 col-md-8"> 31-Jan-1985</div>
                                </div>

                            </div>


                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->




