
  <main id="main" class="main">

    <div class="pagetitle">
      <h1> Department Dashboard </h1>

    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-3 card">
            <div class="p-2">

                <div class="">
                    <form action="">
                     <div class=" mb-3">
                         <label class="fw-bolder "> Filter by </label>
                         <div class="">
                           <select class="form-select" aria-label="Default select example">
                             <option selected> All Order</option>
                             <option value="#"> On Process </option>
                             <option value="#"> Completed </option>
                             
                           </select>
                         </div>
                       </div>
         
                    </form>
         
         
            <h3> List of Order </h3>
            <a href="#"  class="order_list_btn" >
            <div class="p-1 dashboard_order_list text-dark">
              <div class=" "> Order ID : <span class="fw-bolder">USA-2023-07 </span> </div>
              <div class=" "> Status : <span class="badge bg-success">Completed Order</span>
              </div>
            </div>
            </a>
            <a href="#"  class="order_list_btn" >
            <div class="p-1 dashboard_order_list text-dark">
              <div class=" "> Order ID : <span class="fw-bolder">AUS-2022-23 </span> </div>
              <div class=" "> Status : <span class="badge bg-primary">On Working</span>
              </div>
            </div>
            </a>

            <a href="#"  class="order_list_btn" >
            <div class="p-1 dashboard_order_list text-dark">
              <div class=" "> Order ID : <span class="fw-bolder">CAN-2022-23 </span> </div>
              <div class=" "> Status : <span class="badge bg-info">On Pending Approval</span>
              </div>
            </div>
            </a>
            <a href="#"  class="order_list_btn" >
            <div class="p-1 dashboard_order_list text-dark">
              <div class=" "> Order ID : <span class="fw-bolder">SWS-2022-23 </span> </div>
              <div class=" "> Status : <span class="badge bg-warning"> Pending</span>
              </div>
            </div>
            </a>
            <a href="#" class="order_list_btn" >
            <div class="p-1 dashboard_order_list text-dark">
              <div class=" "> Order ID : <span class="fw-bolder">CHN-2022-23 </span> </div>
              <div class=" "> Status : <span class="badge bg-danger"> Cancelled</span>
              </div>
            </div>
            </a>

          </div>  <!--    -->

          </div> <!-- card -->

        </div>    <!--  col-xl-3 card  -->




        <div class="col-xl-6 ">
          <div class="card p-2">
            <div class="">
              <div class="pt-2">
                <div class="" id="">


                    <h4> Order Information </h4>

                    <div class="row p-1" >
                        <div class="col-lg-5 col-md-5 label "> Order ID</div>
                        <div class="col-lg-7 col-md-7"> Sweter-23-05 </div>
                    </div>

                    <div class="row p-1">
                        <div class="col-lg-5 col-md-5 label"> Order Placed Date </div>
                        <div class="col-lg-7 col-md-7"> 05-Jan-2023</div>
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-5 col-md-5 label"> Order Type</div>
                        <div class="col-lg-6 col-md-6"> Sweter </div>
                    </div>
                    
                    <div class="row p-1">
                        <div class="ccol-lg-5 col-md-5 label"> Quantity of Product </div>
                        <div class="col-lg-6 col-md-6"> 500 PCS </div>
                    </div>

                    <div class="row p-1">
                        <div class="col-lg-5 col-md-5 label"> Order On Process </div>
                        <div class="col-lg-6 col-md-6"> 3 orders</div>
                    </div>

                    <h4 class="pt-4"> Dyeing Department Workflow </h4>

                    <div class="row p-1">
                        <div class="col-lg-5 col-md-5 label ">Work Starting Date </div>
                        <div class="col-lg-6 col-md-7"> 03-Feb-2023 </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-5 col-md-5 label"> Fabric Amount </div>
                        <div class="col-lg-6 col-md-6"> 500 pcs </div>
                    </div>

                    <div class="row p-1">
                        <div class="col-lg-5 col-md-5 label"> Overlock Sewing Machine </div>
                        <div class="col-lg-6 col-md-6"> 10 Pcs </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-5 col-md-5 label"> Zigzag sewing machine </div>
                        <div class="col-lg-6 col-md-6"> 10 Pcs </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-5 col-md-5 label"> Button Hole Machine </div>
                        <div class="col-lg-6 col-md-6"> 5 Pcs </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-lg-5 col-md-5 label"> Worker </div>
                        <div class="col-lg-6 col-md-6"> 70 Worker </div>
                    </div>

                  <div class="row mb-3">
                    <div class="">
                      <button type="button" class="btn btn-primary"> Deliver Dyeing Production </button>
                      <button type="button" class="btn m-4 btn-primary"> Discard Order </button>
                    </div>
                  </div>

                </div>
                


              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div><!-- col-xl-6 card -->
      </div><!-- End Recent Activity -->

      <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
    
                <div class="card-body" style="overflow-x:auto;">
                    <h5 class="card-title"> Dyeing Department Employees Status </h5>
    
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Employee Name</th>
                                <th scope="col">Start Time </th>
                                <th scope="col">End Time </th>
                                <th scope="col">Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th >isbd-23-25</th>
                                <th >Sheikh Sajib</th>
                                <th >08:30 am</th>
                                <th >04: 05 pm</th>
                                <th >
                                <a class="btn btn-primary" > View Profile 
                                </a> 
                                </th>
                                <!-- Done not yet -->
                            </tr>
    
    
                        </tbody>
                    </table>
    
                </div>
    
            </div>
            </div>




      </div>




    </section>

  </main><!-- End #main -->

